@model KeepWords.Models.Account.ChangePasswordModel

@Html.HiddenFor(m => m.AccountID)
@Html.HiddenFor(m => m.CurrentPasswordHash)
@Html.HiddenFor(m => m.NewPasswordHash)
@Html.HiddenFor(m => m.NewPasswordReplyHash)
@Html.HiddenFor(m => m.NewPasswordLength)

<div class="kw-field-edit">
@*@Html.LabelFor(m => m.CurrentPassword, "Current password")*@
@Html.PasswordFor(m => m.CurrentPassword, new Dictionary<string, object> { { "placeholder", "Current password" }, { "class", "input-xlarge" } })
@Html.ValidationMessageFor(m => m.CurrentPassword)
</div>

<div class="kw-field-edit">
@*@Html.LabelFor(m => m.NewPassword, "New password")*@
@Html.PasswordFor(m => m.NewPassword, new Dictionary<string, object> { { "placeholder", "New password" }, { "class", "input-xlarge" } })
@Html.ValidationMessageFor(m => m.NewPassword)
</div>

<div class="kw-field-edit">
@*@Html.LabelFor(m => m.NewPasswordReply, "New password reply")*@
@Html.PasswordFor(m => m.NewPasswordReply, new Dictionary<string, object> { { "placeholder", "New password reply" }, { "class", "input-xlarge" } })
@Html.ValidationMessageFor(m => m.NewPasswordReply)
</div>