@model IEnumerable<KeepWords.Models.DB.Dictionary>

@{
    ViewBag.Title = "Your dictionaries";
    IDictionary<string, Object> htmlAttrs = new Dictionary<string, Object> { { "class", "btn btn-primary" } };    
}

@functions {
    protected KeepWords.Models.DB.Account CurrentAccount
    {
        get { return (KeepWords.Models.DB.Account)ViewData["account"]; }
    }
}

@section head {
    <style type="text/css">
    .kw-dictionary-list
    {
        list-style-type: none;
        margin-left: 0;
    }
    .kw-dictionary-list .kw-dictionary-item
    {
        display: inline-block;
        min-width: 200px;
        font-size: 150%;
        color: #555555;
        margin: 10px 0;
        text-align: center;
    }
    </style>
}

<div class="nav">
    <a class="btn btn-primary" href="@Url.Action("Add")">Add</a>
</div>

@if (Model.Count() > 0)
{
<ul class="kw-dictionary-list">
@foreach (var dictionary in Model)
{
     <li>
     @*<a class="btn" href="@Url.Action("Details", new { id = dictionary.ID })">Details</a>*@
     &nbsp; <div class="kw-dictionary-item">@dictionary.DisplayName</div>      
     &nbsp; <a class="btn btn-primary" href="@Url.Action("List", "Word", new { dictionaryId = dictionary.ID })">Words</a>
     &nbsp; <a class="btn btn-danger" href="@Url.Action("Delete", new { id = dictionary.ID })" onclick="return confirm('Are you sure to delete?')">Delete</a>
     @if (CurrentAccount.ActiveDictionary == null || CurrentAccount.ActiveDictionaryID != dictionary.ID)
     {
    @Html.Raw("&nbsp;") <a class="btn" href="@Url.Action("SetActive", "Dictionary", new { id = dictionary.ID })">Set Active</a>
     }
     </li>
}
</ul>
}
else
{
    <p>You haven't created any dictionary.</p> 
}
